

html{
  font-size: 62.5%; /*  16px(default for browswer) * 62.5 = 10px = 1 rem*/
  box-sizing: border-box; /* easier to manage boxes */
}
body{
  margin: 0px;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* making the root div height 100% */
#root{
  height: 100%;
}

/* Layout */

.grid-container{
  display: grid;
  grid-template-areas: 'header''main''footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header{
  grid-area: header; /* Connecting to header above */
  background-color: #111821;
}
main{
  grid-area: main;
  padding: 1rem;
}
footer{
  grid-area: footer;
  background-color: #111821;
  color: white;
}

/* Common */
h1{
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2{
  font-size: 1.6rem;
  padding: 1rem 0;
}

a{
  text-decoration: none;
}
a:hover{
  color: #FF6700;
}
ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li{
  margin-top: 1rem;
}
input, select, textarea, button{
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;}

  
  button {
  background-color: #f8f8f8;
  cursor: pointer;
}

input:hover, select:hover, textarea:hover,
button:hover{
  border: 0.1rem #404040 solid;

}
button.primary{
  background-color: goldenrod;
}
button.block{
  width: 100%;
}
/* Header */
header a{
  color: white;
  padding: 1rem;
}

a.brand{
  color: white;
  font-size: 3rem;
  font-weight: bold;
}
.badge {
  background-color: aquamarine;
  color: black;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center{
  justify-content: center;
}
.row.top{
  align-items: flex-start;
}
.col-1{
  flex: 1 1 25rem;
}

.col-2{
  flex: 2 1 50rem;
}

/* image */
img{
  border-radius: 0.52rem;
}

img.medium{
  max-width: 29rem;
  width: 100%;
  max-height: 39rem;
  height: 100%;

}
img.large{
  padding-top: 0.5rem;
  max-width: 50rem;
  width: 100%;
  height: 100%;
  max-height: 60rem;
}
/* Card */
.card{
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;

}
.card-body{
  padding: 1rem;
}

.card-body > *{ /* all child of card-body */
  margin-bottom: 0.5rem;
}

.price{
  font-size: 2rem;

}

/* Rating */
.rating span {
  color: gold;
  margin: 0.1rem;
}

.rating span:last-child{
  color: grey;
}

/* Alerts */
.success{
  color: #5ca08e;
}
.error{
  color: red;
}

.danger{
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 1rem;
}

.alert-info{
  color: darkblue;
  background-color: whitesmoke;
}


.alert-danger{
  color: red;
  background-color: whitesmoke;
}